POSTGRES_DB=online_judge
POSTGRES_USER=onlinejudge
POSTGRES_PASSWORD=CHANGE_ME_GENERATE_A_RANDOM_DATABASE_PASSWORD
POSTGRES_BIND_PORT=5432
POSTGRES_CONTAINER_NAME=onlinejudge-postgres
POSTGRES_VOLUME_NAME=onlinejudge_postgres_data
REDIS_BIND_PORT=6379
REDIS_CONTAINER_NAME=onlinejudge-redis
REDIS_VOLUME_NAME=onlinejudge_redis_data
